{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="container">
  <h1>Projects</h1>

  {% for p in projects %}
    <div class="card">
      <div class="card-header">
        <div class="card-title h5">
          {{p.name}}
        </div>
        <div class="card-image" style="max-width: 300px;">
          <img src={{p.image_url}} class="img-responsive">
        </div>
        <div class="card-subtitle text-gray">...</div>
          </div>
          <div class="card-body">
            {{p.description}}
          </div>
      </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
