{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="container">

  <h1>Developers</h1>
    Devs listed as cards with tags stored from Github profile
    Sort by tags

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="https://source.unsplash.com/random" style="max-width: 170px;" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">Developer 2</h5>
            <p class="card-text">Summary of Dev 2</p>
          </div>
          <div class="card-footer">
            <h6>Skills</h6>
            <span class="badge rounded-pill bg-primary">JS</span>
            <span class="badge rounded-pill bg-light text-dark">Python</span>
            <span class="badge rounded-pill bg-info text-dark">Wordpress</span>
            <span class="badge rounded-pill bg-success">SQL</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="https://source.unsplash.com/random" style="max-width: 170px;" alt="...">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">Developer 2</h5>
            <p class="card-text">Summary of Dev 2</p>
          </div>
          <div class="card-footer">
            <h6>Skills</h6>
            <span class="badge rounded-pill bg-primary">JS</span>
            <span class="badge rounded-pill bg-light text-dark">Python</span>
            <span class="badge rounded-pill bg-info text-dark">Wordpress</span>
            <span class="badge rounded-pill bg-success">SQL</span>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}

